.contact {
    background-color: #f5f5f5;
}

.contact__title {
    color: #403023;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    padding-top: 110px;
    text-align: center;
}

.contact-content {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 965px) {
        padding-top: 50px;
    }

    @media (max-width: 620px) {
        display: block;
    }
}

.contacts__group {
    max-width: 143px;
    color: #333333;

        @media (max-width: 965px) {
            margin: auto;
            padding-top: 15px;
        }
}

.contacts__title {
    font-family: "Montserrat - Bold";
    font-weight: 700;  
    font-size: 18px; 
}

.contacts__item {
    font-family: "Montserrat Light";
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 35px; 
}

.content-form {
    max-width: 780px;
}

.contact-form__section {
    display: flex;
    justify-content: space-around;

    @media (max-width: 805px) {
        display: block;
        // padding-top: 15px;
        // text-align: center;
    }
}

.contact-form__group {
    @media (max-width: 805px) {
        padding-top: 15px;
        // text-align: center;
        margin: auto;
    }

    @media (max-width: 620px) {
       text-align: center;
    }
}

.contact-form__label {
    visibility: hidden;
}

.contact-form__input {
    width: 380px;
    height: 55px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    padding: 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    @media (max-width: 421px) {
        width: 300px;
    }
}

.contact-form__textarea {
    width: 770px;
    height: 155px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    padding: 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    @media (max-width: 805px) {
        width: 380px;
    }

    @media (max-width: 620px) {
        margin: auto;
     }

     @media (max-width: 421px) {
        width: 300px;
    }
}

.contact-form__btn {
    width: 221px;
    height: 50px;
    box-shadow: 0 11px 27px rgba(154, 49, 188, 0.33);
    border-radius: 3px;
    background-color: #ffa403;
    background-image: linear-gradient(to left, #43ccd5 0%, #7d81ed 100%);
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 0 190px 80px;

    @media (max-width: 620px) {
        margin-left: 40px;
     }
}

.contact-form__btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
