.response {
    margin-right: auto;
    background-image: url(../image/response/bg2.jpg);
    background-size: cover;

    &__block {
        margin: 0 0 0 auto;
        text-align: center;
        max-width: 707px;

    }

    &__author {
        padding-top: 170px;
        color: #333333;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        color: #333333;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        padding: 30px 0 40px;
    }

    &__stars {
        padding-bottom: 160px;
    }
}