.contact {
        width: 100%;
        min-height: calc(100vh - 90px);
        background: url(../Image/bg.png);
        background-size: 100% 100%;
    
    .main-header {
        margin: auto;
        text-align: center;
        width: 350px;
        padding-top: 101px;
    }
    
    h1 {
        font-weight: bold;    
        margin-bottom: 48px;
        color: #262626;
        font-family: "Raleway";
        font-size: 90px;
        font-weight: 700;
    }
    
    .main-header__desc { 
        margin-bottom: 30px;
        font-family: "Raleway";
        font-size: 17px;
        font-weight: 300;
        color: #262626;
    }
    
    .main-content {
        display: flex;
        justify-content: space-around;
    }
    
    .content-form { 
        width: 530px; 
    }
    
    .contact-form {    
        padding: 15px; 
    }
    
    .contact-form__input {
        background-color: #00c4c4;
        opacity: 0.5; 
        width: 500px; 
        height: 50px;
        border: none;
        padding: 20px;
        opacity: 0.5;
        color: #ffffff;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 700;
    }
    
    .contact-form__input:last-child {
        min-height: 250px;
    }
    
    .contact-form__input::placeholder {
        font-size: 15px;
        font-weight: 300;
    }
    
    .contact-form__input:focus {
        border-left: 5px solid #355b82;
        opacity: 1;
    }
    
    input:invalid {
        border-color: red;
    }
    
    input:valid {
        border-color: green;
    }
    
    .contact-form__label {
        visibility: hidden;
    }
    
    .contacts {
        width: 317px;
        line-height: 25px;
    }
    
    .contacts__title {
        font-family: "Raleway-Bold";
        font-size: 17px;
        font-weight: 700;
        padding-top: 18px;
    }
     .contacts__item {
        font-family: "Raleway-Light";
        font-weight: 300; 
     }
    
    .page-footer {
        background-color: black;
        color: white;
        height: 90px;
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        }
    
    .page-footer__logo {
        filter: brightness(400%);
        width: 64px;
        height: 27px;
    }
    
    .page-footer__copyright {
        color: #b9b9b9;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 300;
    }
    
    .page-footer__author {
        color: #b9b9b9;
        font-family: "Raleway";
        font-size: 15px;
        font-weight: 300;
    }
    
    span {
        color: #ff2b58;
        font-family: "Raleway-Bold";
    }
}