@font-face {
    font-family: 'Lato';
    src: local('Lato'),
    url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Playfair_Display';
    src: local('Playfair_Display'),
    url(./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title:first-letter {
    color: #171717;
    font-family: "Playfair Display";
    width: 62px;
    height: 79px;
    font-size: 110px;   
    font-weight: 400;
    text-transform: uppercase; 
}

article {
    width: 1400px;
    height: 940px;
    padding: 140px 138px 122px 123px;
    box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
    margin: 130px 98px 126px 98px;
}

h1 {
    color: #171717;
    font-family: "Playfair Display";
    font-size: 42px;
}

.text {
    color: #171717;
    font-family: Lato;
    font-size: 18px;
    opacity: 0.7;    
}

p {
    margin-bottom: 54px;
}

button {
    color: #eaa258;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;  
    letter-spacing: 3.6px;
    width: 256px;
    height: 64px;
    border: 2px solid #eaa258;
    background-color: white;
}

.quote {
    font-size: 24px;
    letter-spacing: -0.12px;
    line-height: 34px;
}

span.mark {
    letter-spacing: -0.09px;
    line-height: 40px;
}