body {
    background-color: #3399cc;
    font-family: sans-serif, 'Lucida Grande', 'Lucida Sans Unicode';
}

 /* { 
    box-sizing: border-box;*/

h1 {
    color: white;
    font-weight: bold;
}

.container {  
    margin: 25px;
    /*width: 900px;
    height: 350px; 
    box-sizing: border-box;  
    margin: auto;*/
}

.card {
    float: left;
    width: 15%;
    height: 25%;
    border: solid 2px white;
    padding: 35px;
    font-size: 16px;
}

.card-big {
    width: 40%;
}

.card-big2 {
    width: 89%;
}

p {
    text-align: center;
    color: white;
    opacity: 1;
  }

.card:nth-child(1) {
    background-color: orchid;
}

.card:nth-child(2) {
    background-color: #33cccc;
}

.card:nth-child(3) {
    background-color: #996699;
}

.card:nth-child(4) {
    background-color: #c24747;
}

.card:nth-child(5) {
    background-color: #e2674a;
}

.card:nth-child(6) {
    background-color: #ffcc66;
}

.card:nth-child(7) {
    background-color: #99cc99;
}

.card:nth-child(8) {
    background-color: #669999;
}

.card:nth-child(9) {
    background-color: #cc6699;
}

.card:nth-child(10) {
    background-color:#339966;
}

.card:nth-child(11) {
    background-color: #666699;
}

.box {
    padding: 20px 350px;
    height: 200px;
}

i[class^="wi"] {
    color: rgb(255,255,255,0.7);
    font-size: 25px;
}

footer {
    color: white;
}